<div class="card-deck">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Game Of Thrones</h5>
      <p class="card-text text-center">Season 6, Episode 5</p>
        <img class="card-img-bottom" src="https://images.unsplash.com/photo-1556742044-3c52d6e88c62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Card image cap">
      <p class="card-text"><small class="text-muted">3 people reacted on this</small></p>
      <hr>
      <div class="row">
        <div class="col col-md-4">
          <ng-template #popContent>
            <div class="row">
              <img height="30px" src="assets/images/like.png" alt="">
              <img height="30px" src="assets/images/haha.png" alt="">
              <img height="30px" src="assets/images/wow.png" alt="">
              <img height="30px" src="assets/images/sad.png" alt="">
              <img height="30px" src="assets/images/angry.png" alt="">
            </div>
          </ng-template>
          <p [ngbPopover]="popContent">
            <img height="30px" src="assets/images/like.png" alt="" > Vote
          </p>
        </div>
      </div>
    </div>
  </div>
</div>